@typeparam TItem
@typeparam TValue
@inherits CmsSelectBase<TItem, TValue>
@{
    var selectAttrs = GetAttributes(("id", Id), ("multiple", Multiple), ("size", Size));
}
<select @attributes=@GetAllAttributes(selectAttrs) @onchange=OnValueChanged>
    @foreach (var item in ListItems)
    {
        var success = TryGetValueCore(item, out var value);
        var attrs = GetAttributes
        (
            ("value", value),
            ("selected", success && EqualityComparer<TValue>.Default.Equals(value, Value))
        );
        <option @attributes=attrs>@GetText(item)</option>
    }
</select>