@if (Items is not null)
{
	foreach (var item in Items.Where(a => a.Visibility == Visibility))
	{
		if (DarkTheme) item.IsDarkTheme = true;
		if (ItemTemplate != null)
		{
			@ItemTemplate(item)
		}
		else if (item.HasDropdownItems)
		{
			<li class="nav-item dropdown">
				<CmsNavbarItem Model="item"/>
			</li>
		}
		else
		{
			if (item.IsSignOut)
			{
				<li><hr class="dropdown-divider"/></li>
			}
			<li class="nav-item">
				<CmsNavbarItem Model="item"/>
			</li>
		}
	}
}

@code {
	[Parameter] public IReadOnlyCollection<NavMenuItem>? Items { get; set; }
	[Parameter] public RenderFragment<NavMenuItem>? ItemTemplate { get; set; }
	[Parameter] public AuthVisibility Visibility { get; set; }
	[Parameter] public bool DarkTheme { get; set; }
}
