@page "/test"
@layout CmsBlankLayout

<PageTitle>STEM-A Consulting</PageTitle>

<AppLayout>
    <CmsContainer Fluid>
        <CmsRow>
            <CmsCol sm=4>
                <div class="mb-3">
                    <CmsSelect TItem="string" TValue=int Value="2" ListItems="@(["Un", "Deux", "Trois", "Quatre"])"
                               Converter="ConvertSelection" ValueGetter="GetValue" title="Sélectionnez un nombre">
                    </CmsSelect>
                </div>
            </CmsCol>
        </CmsRow>
        <CmsRow>
            <CmsCol all=6 md=4 lg=3>
                <CmsImg Src="https://www.numeric-horizon.com/assets/img/numeric-horizon-logo.png"
                        Class="img-thumbnail" Style="width: 117px" alt="Numeric Horizon" />
            </CmsCol>
            <CmsCol all=6 md=8 lg=9>
                <CmsDl Class="test" title="Test Definition List">
                    <CmsDt>Noms</CmsDt>
                    <CmsDd>
                        <CmsDl Class="row">
                            <CmsDt>Prénom</CmsDt>
                            <CmsDd>Abdourahamane</CmsDd>

                            <CmsDt>Nom</CmsDt>
                            <CmsDd>Kaba</CmsDd>
                        </CmsDl>
                    </CmsDd>
                </CmsDl>
            </CmsCol>
        </CmsRow>
    </CmsContainer>
</AppLayout>

@code {
    int GetValue(string value) => value switch
    {
        "Un" => 1,
        "Deux" => 2,
        "Trois" => 3,
        "Quatre" => 4,
        _ => 0
    };

    int ConvertSelection(object? value) => int.Parse($"{value}");

}