@inherits BlockComponentBase
@{
    var attrs = GetAttributes
    (
        ("class", $"py-4 mt-auto {Layout?.FooterColor.GetBgColor()}".TrimEnd())
    );
}
<!-- Footer-->
<footer @attributes=attrs>
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">&copy; @(SiteName ?? Layout?.SiteName)</div></div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
@code {
    [Parameter] public string? SiteName { get; set; }
    [CascadingParameter] private CmsLayout? Layout { get; set; }
}
